<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>EzshareSync</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/sync.sh</string>
    <string>--dedicated</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartInterval</key>
  <integer>900</integer>

  <key>RunAtLoad</key>
  <true/>

  <!--<key>StandardErrorPath</key>
  <string>/var/tmp/sync.sh.err</string>

  <key>StandardOutPath</key>
  <string>/var/tmp/sync.sh.out</string>-->
</dict>
</plist>
